---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- <meta name="viewport" content="width-device-width, initial-scale=1">
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

    <df-messenger
    chat-icon="https://i.imgur.com/ixo7ox6.png"
    intent="WELCOME"
    chat-title="MAIA"
    agent-id="2846a37b-d28b-4a20-934d-db98ab9f2d1e"
    language-code="en"
    df-messenger-button-titlebar-color='white'

    > </df-messenger>

    <style>
      df-messenger {
       --df-messenger-button-titlebar-color: #fafafa;
       --df-messenger-button-titlebar-font-color: #00BC86;
       --df-messenger-send-icon: #00BC86;
      }
    </style> -->

  </body>
</html>
